<!DOCTYPE html>
<html>

<head>
  <title>Vtuber Recommendator</title>
  <link rel="stylesheet" href="../static/stylesheet.css">
</head>

<body>
  <h1>VTuber Recommendator</h1>
  <h3>Enter desired keywords</h3>
  <h4>Press 'Comma' or 'Enter' to enter a new word. 'Backspace' or click the X to delete a word.</h4>
  <div class="tag-container">
    <input />
  </div>
  <button class="submit-button" type="button" onclick=sendData() href="">Submit</button>
  <script src="../static/tags.js">
  </script>
</body>

</html>